body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, #f1fefe, rgba(241, 254, 254, 0));
}
